.isSelected {
  background-color: var(--navds-global-color-gray-100);
}

.addCircleIcon,
.imageText {
  display: inline-block;
  margin-right: 1ex;
  vertical-align: text-bottom;
}

.grayBox {
  background-color: var(--navds-global-color-gray-100);
  padding: 5px 15px 5px 15px;
}

.margin {
  margin-left: auto;
}

.addPeriode {
  cursor: pointer;
  width: 200px;
}

.removeImage {
  padding: 5px;
}
