*.iml
*.local
*.localz
*.log
*.versionsBackup
*.zip
dep.txt
.classpath
.idea
.project
.settings
_*.sh
bin
app.properties
app.properties.backup
app-local.properties
mqjms.log*
target
truststore.jts
conf

/.mvn/
.flattened-pom.xml
.flattened
.env