.button {
  position: relative;
  float: right;
  margin-top: 10px;
}

.buttonBox {
  position: absolute;
  right:    0;
  bottom:   0;
  horiz-align: right;
}

.buttonCol {
  position:relative;
  height: 400px;
}

.divider {
  border-left: 1px solid #b7b1a9;
  border-right: 0px solid #b7b1a9;
  display: inline;
  float: right;
  height: 400px;
  margin-left: 15px;
  margin-right: 15px;
  position: absolute;
  top: 5px;
}

.panel {
  height: 450px;
  width: 460px;
}

.modal {
  height: 470px;
  width: 500px;
}
