.button {
  float: left;
  margin: 10px;
  position: relative;
}

.buttonBox {
  float: left;
  left: 0;
  position: relative;
}

.buttonRow {
  bottom: 10px;
  position: absolute;
}

.divider {
  border-left: 1px solid #b7b1a9;
  border-right: 0 solid #b7b1a9;
  display: inline;
  float: right;
  height: 440px;
  margin-left: 15px;
  margin-right: 15px;
  position: absolute;
  top: 5px;
}

.panel {
  height: 540px;
  padding-bottom: 10px;
  padding-top: 0;
  width: 340px;
}

.header {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  padding-left: 10px;
}

.modal {
  height: auto;
  width: auto;
}
