.dager {
  padding-top: 40px;
}

.dagerMedBindestrek {
  padding-right: 20px;
  padding-top: 40px;
}

.beløp {
  padding-right: 20px;
  padding-top: 20px;
}

.tomDato {
  padding-right: 20px;
}

.dato {
  margin-bottom: 5px;
}
