.grayBox {
  background-color: var(--navds-global-color-gray-100);
  padding: 5px 15px 5px 15px;
}

.panel {
  border: 1px solid var(--navds-global-color-gray-200);
  border-radius: 0;
}

.utvalgskriterieRad {
  margin-bottom: 16px;
}

.bredde {
  width: 300px;
}

.colRight {
  margin-left: auto;
}
